.footer {
  background-color: #0e0e0e;
  color: #fff;
  font-family: "Poppins", sans-serif;
  padding: 60px 10%;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.footer-text h1 {
  font-size: 4rem;
  font-weight: 600;
  line-height: 1.1;
}

.hire-btn {
  background-color: #1e1e1e;
  color: white;
  border: 1px solid #444;
  padding: 15px 35px;
  border-radius: 50px;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

.hire-btn:hover {
  background-color: #ffffff;
  color: #000;
}

.footer-divider {
  border: none;
  height: 1px;
  background-color: #333;
  margin: 40px 0;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
    gap: 40px;
}

.footer-column {
  flex: 1;
  min-width: 220px;
}

.footer-logo {
  font-size: 1.5rem;
  margin-bottom: 10px;
  font-weight: 600;
}

.logo-column p {
  color: #aaa;
  line-height: 1.6;
}

.footer-column h3 {
  font-size: 1rem;
  margin-bottom: 10px;
  color: #ddd;
}

.footer-column p {
  color: #aaa;
  line-height: 1.6;
}

.social-icons {
  display: flex;
  gap: 15px;
  margin-top: 15px;
  font-size: 1.2rem;
}

.social-icons svg {
  cursor: pointer;
  transition: 0.3s;
}

.social-icons svg:hover {
  color: #f5a623;
}

.footer-links {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-top: 50px;
  flex-wrap: wrap;
}

.footer-links a {
  color: #bbb;
  text-decoration: none;
  transition: 0.3s;
}

.footer-links a:hover {
  color: #fff;
}

.footer-bottom {
  text-align: center;
  margin-top: 30px;
  color: #888;
  font-size: 0.9rem;
}
